{% extends 'landtalkapp/base.html' %}

{% block content %}
<div class="row">
  <div class="one-half column" style="margin-top: 5%">
       <img src="../../static/img/handson.jpg" alt="Hands of a child passing soil into hands of an adult" width="100%">
  </div>
    <div class="one-half column" style="margin-top: 5%">
      <p>This map is made by observers, usually older people, who are sharing
  stories about changes they have noticed in a place outdoors. This
  could be a place where they live, work, farm, garden, or some other
  place that they have observed for a long time. <p> The site was set up to encourage younger and older people to talk together, and find out what they know.</p> <p> It is maintained by Stanford University. For more information, please
  write to us at landtalk [at] googlegroups [dot] com.</p>
  </div>
</div>

<div class="row">
  <div class="twelve columns" style="margin-top: 5%">
  LAND TALK is made by the individual content providers and is hosted at Stanford University.
  </div>  
</div>   

{% endblock %}