{% extends 'landtalkapp/base.html' %}

{% block content %}
<div class="row">
  <div class="one-half column" style="margin-top: 5%">
       <img src="../../static/img/handson.jpg" alt="Hands with Dirt" width="100%">
      <h5>Who makes Land Talk? </h5>
      <p>Four kinds of folks make Land Talk: 
      <li><b>Observers: </b>People who lived in a place for a long time and can tell stories about how the land and the weather changed over the years. </li>
      <li><b>Interviewers: </b>People who find Observers, ask the questions about how the land and the weather used to be and is now, and record the Observer's answers with video.</li>
       <li><b>Stewards: </b>People who help Interviewers collect stories and post them to the Land Talk website.</li>
      <li><b>Hosts: </b>People who help Stewards and make sure the website is up and running so we can all talk about the land together.</li>
      </p>
    </div>
    <div class="one-half column" style="margin-top: 5%">
      <h5>How do I convert Latitudes and Longitudes from degrees to decimal? </h5>
      <p>Land Talk works with Latitudes and Longitudes in the decimal format only. You can pconvert from degrees to decimal at this website: <a href="https://www.fcc.gov/media/radio/dms-decimal">https://www.fcc.gov/media/radio/dms-decimal</a></p>
      <h5>How does Land Talk decide to post a video on the map or not? </h5>
      <p>Land Talk will host any entry that meets all the following standards, as determined by the Stewards:  
      <li>The entry has all the information the "add" form asked for. </li>
      <li>The entry describes experiences about the land and the weather, today and in the past.</li>
      <li>The entry is free of promotions for products or organizations.</li>
      <li>The entry meets PG-13 standards for language and decency.</li>
      </p>
  </div>
</div>
   
<div class="row">
  <div class="twelve columns" style="margin-top: 5%">
  LAND TALK is made by the individual content providers and is hosted at Stanford University, with a <a href="https://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commmons CC BY-NC 3.0 US license </a>, 2017. 
  </div>  
  </div>  
</div>  

{% endblock %}